body {
    font-family: 'Roboto', sans-serif; /* Utilisez Roboto ou une police similaire */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: left; /* Alignez verticalement les éléments de l'en-tête */
    justify-content: space-between; /* Espacer le logo et la navigation */
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em; /* Ajustez la taille selon vos besoins */
    color: #fff; /* Choisissez une couleur qui s'harmonise avec votre design */
    margin-right: 20px; /* Ajoutez une marge à droite si nécessaire */
}

.logo-container {
    height: 50px; /* Ajustez selon la taille de votre logo */
}

.logo {
    height: 80px; /* Ajustez la hauteur du logo selon vos besoins */
    margin-right: 20px; /* Ajoutez une marge à droite si nécessaire */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Enlève la marge par défaut */
    display: flex;
    gap: 20px; /* Ajoute un espace entre les liens */
}

/* nav ul li {
    margin-left: 20px; Espacement entre les éléments de navigation
} */

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    text-align: center; /* Centre les titres h2 */
    margin: 20px 0; /* Ajoute de la marge au-dessus et en dessous des titres */
}

p {
    margin: 10px 20px; /* Ajoute de la marge autour des paragraphes */
}

body, main {
    padding-bottom: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre footer */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.poster {
    max-width: 100%;
    max-height: 800px;
    display: block; /* Empêche les images de dépasser leur conteneur */
    margin: 0 auto; /* Centre les images */
}

#video-gallery {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si l'espace est insuffisant */
    justify-content: center; /* Centre les vidéos horizontalement */
    gap: 20px; /* Ajoute un espace entre les vidéos */
}

.video-container {
    flex: 1; /* Permet aux conteneurs de vidéo de grandir et de prendre l'espace disponible */
    min-width: 300px; /* Définit une largeur minimale pour chaque vidéo pour garantir la lisibilité */
    max-width: 45%; /* Définit une largeur maximale pour éviter que les vidéos ne soient trop grandes sur les grands écrans */
}

.video-container iframe {
    width: 100%; /* Assure que les vidéos remplissent la largeur de leur conteneur */
    height: 100%; /* Vous pouvez ajuster la hauteur comme nécessaire, ou utiliser un ratio de hauteur fixe */
}
